thead {
    background-color: blue;
    color: white;
}

.table th{
    color: white !important;
}

td.td-order{
    vertical-align: top !important;
}
td.td-nowrap{
    vertical-align: top !important;
    white-space: nowrap;
}

.tab-id {
    width: 2vh;
}

.tab-act {
    width: 15%;
    text-align: center;
}

.tab-act-value{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

@media only screen and (min-width:1280px){
    .search-input {
        min-width: 50rem;
    }
}